<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Parallel-Test-Suite" parallel="methods">
    <test name="To Run TestNG :: Parallel methods concept">
    <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="ParallelExe"/>
        </classes>
    </test>
    <test name="To Run TestNG :: Parallel methods">
        <parameter name="browser" value="Firefox"></parameter>
        <classes>
            <class name="ParallelExe"/>
        </classes>
    </test>
</suite>